# Домашнее задание.
## Урок 3 - Функции и знакомство с библиотекой Pandas
#### Выполнил работу: Данил Кузнецов

Написать функцию, которая принимает на вход список целых чисел, и возвращает сумму всех значений этого списка (пример: на вход функции — [2,2,4] результат — 8).

Создать 2 любых датафрейма с условиями (способ создания не важен):

в датафрейме есть поле с типом данных даты (datetime),

в датафрейме есть поле с типом данных int64,

в датафрейме есть поле с типом object.
Пример такого датафрейма есть в уроке.

## Задание 1

In [1]:
a = [2,2,4]

def sum_znach(x):
    return sum(x)

sum_znach(a)

8

## Задание 2
### первая таблица

In [2]:
import pandas as pd

In [3]:
data = {'name': ['Bard', 'Var', 'Mag'],
        'year': [2016, 2017, 2017],
        'level': [35, 47, 85]}

game_table = pd.DataFrame(data=data)
game_table

   name  year  level
0  Bard  2016     35
1   Var  2017     47
2   Mag  2017     85

In [4]:
game_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   year    3 non-null      int64
 2   level   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [5]:
game_table['year'] = pd.to_datetime(game_table['year'], format='%Y')
game_table.head()

   name       year  level
0  Bard 2016-01-01     35
1   Var 2017-01-01     47
2   Mag 2017-01-01     85

In [6]:
game_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   year    3 non-null      datetime64[ns]
 2   level   3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes

### Вторая таблица

In [12]:
data = [
    ['Assasin', 34, 2021],
    ['Devil', 45, 2022],
    ['Dvorf', 56, 1999]
]

columns = ['name', 'level', 'year']

game_table2 = pd.DataFrame(data=data, columns=columns)

game_table2['year'] = pd.to_datetime(game_table['year'], format='%Y')

game_table2

      name  level       year
0  Assasin     34 2016-01-01
1    Devil     45 2017-01-01
2    Dvorf     56 2017-01-01

In [13]:
game_table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   level   3 non-null      int64
 2   year    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes